<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16868091198-b68f1me5p5dv59054k45v5vj48646ka1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16868091198-b68f1me5p5dv59054k45v5vj48646ka1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>16868091198-mriq627an30raiuldvng4qdpmuapqqd0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBcSyi0YOSnN7TnHe9dqWfV22-l3JjPly4</string>
	<key>GCM_SENDER_ID</key>
	<string>16868091198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wgsquayson.simplechat</string>
	<key>PROJECT_ID</key>
	<string>simplechat-43a56</string>
	<key>STORAGE_BUCKET</key>
	<string>simplechat-43a56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16868091198:ios:e5f25dee900af347f6386f</string>
</dict>
</plist>